/* RESET */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #00000e;
}

header {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 30px;
}

nav {
    height: 63px;
    width: 100%;
    background-color: #ffee1e;
    min-width: 360px;
}

.lista_menu {
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    font-size: 1.5em;
    color: #00000e;
    height: 63px;
    width: 120px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item1 {
    background-color: #00000e;
    color: white;
    margin-left: 40px;
}

footer {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}
/* Classes e ids referentes as possíveis trocas com o AJAX */
.container {

}

.container_home {
    display: flex;
    flex-wrap: wrap;
}

.pontuacoes {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-grow: 1;
}

.pub_simulado {
    
}

#pontuacoes_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
}

.lista_pontuacoes {

}

.pontuacao_item {
    color: #00000e;
    font-size: 1.5em;
    padding: 10px;
    margin: 2px;
    margin-left: 10px;
}

.item1 {
    background-color: #fbe2e4;
}

.item2 {
    background-color: #fff7dc;
}

.item3 {
    background-color: #e1f2e5;
    margin-bottom: 10px;
}